In [30]:
import os
import pandas as pd
import re

In [3]:
df = pd.read_csv(os.path.join('..', 'data', 'train.csv'))

In [4]:
df.head()

,observation_id,Health Service Area,Hospital County,Operating Certificate Number,Facility Id,Facility Name,Age Group,Zip Code - 3 digits,Gender,Race,...,Payment Typology 2,Payment Typology 3,Attending Provider License Number,Operating Provider License Number,Other Provider License Number,Birth Weight,Abortion Edit Indicator,Emergency Department Indicator,Total Charges,Total Costs
0,cdb7f86a-68c8-4a11-a54a-d6ab74fdb7fe,Western NY,Erie,1401014.0,208.0,Women And Children's Hospital Of Buffalo,0 to 17,143,F,White,...,Self-Pay,NaN,270457.0,NaN,NaN,0,N,Y,$4623.66,$2633.42
1,78b71d32-2c27-4781-89b3-6bc0ed48b22a,Western NY,Erie,1401014.0,208.0,Women And Children's Hospital Of Buffalo,0 to 17,141,M,White,...,Self-Pay,NaN,244296.0,NaN,NaN,0,N,Y,$2238.33,$993.57
2,bde8094e-d9bd-48f9-ba8e-7b318a0c0b76,Western NY,Erie,1401005.0,210.0,Erie County Medical Center,0 to 17,142,F,Other Race,...,Medicaid,NaN,239618.0,NaN,NaN,0,N,Y,$13947.78,$7199.01
3,b68bee74-48e7-4382-ba99-a3795e52380e,Western NY,Erie,1401008.0,213.0,Mercy Hospital of Buffalo,18 to 29,142,F,White,...,NaN,NaN,210044.0,NaN,NaN,0,N,Y,$7700.16,$3875.62
4,c532d911-85ac-4689-945c-35e0b8dbff6a,Western NY,Erie,1401008.0,213.0,Mercy Hospital of Buffalo,18 to 29,142,F,Other Race,...,Medicaid,NaN,229449.0,191190.0,NaN,0,N,N,$8814.77,$5210.92

In [5]:
numerical_features = [
    "Operating Certificate Number",
    "Facility Id",
    "Zip Code - 3 digits",
    "CCS Diagnosis Code",
    "CCS Procedure Code",
    "APR DRG Code",
    "APR MDC Code",
    "APR Severity of Illness Code",
    "Attending Provider License Number",
    "Operating Provider License Number",
    "Other Provider License Number",
    "Birth Weight"
]

In [6]:
df_num = df[numerical_features]

In [7]:
df_num.head()

,Operating Certificate Number,Facility Id,Zip Code - 3 digits,CCS Diagnosis Code,CCS Procedure Code,APR DRG Code,APR MDC Code,APR Severity of Illness Code,Attending Provider License Number,Operating Provider License Number,Other Provider License Number,Birth Weight
0,1401014.0,208.0,143,128,0,141,4,2,270457.0,NaN,NaN,0
1,1401014.0,208.0,141,138,0,243,6,1,244296.0,NaN,NaN,0
2,1401005.0,210.0,142,657,0,754,19,2,239618.0,NaN,NaN,0
3,1401008.0,213.0,142,83,0,53,1,2,210044.0,NaN,NaN,0
4,1401008.0,213.0,142,189,134,540,14,1,229449.0,191190.0,NaN,0

In [10]:
df_num['Operating Certificate Number'].min()

np.float64(101000.0)

In [11]:
df_num['Operating Certificate Number'].max()

np.float64(7004010.0)

In [12]:
df_num['Facility Id'].min()

np.float64(1.0)

In [13]:
df_num['Facility Id'].max()

np.float64(9431.0)

In [22]:
df_num.dtypes

Operating Certificate Number         float64
Facility Id                          float64
Zip Code - 3 digits                   object
CCS Diagnosis Code                     int64
CCS Procedure Code                     int64
APR DRG Code                           int64
APR MDC Code                           int64
APR Severity of Illness Code           int64
Attending Provider License Number    float64
Operating Provider License Number    float64
Other Provider License Number        float64
Birth Weight                           int64
dtype: object

In [26]:
df_num['Zip Code - 3 digits'].unique()

array(['143', '141', '142', '140', '148', '145', '146', '144', '138',
       '131', '130', '133', '136', '134', '135', '132', '122', '120',
       '129', '121', '123', '128', '125', '126', '109', '127', nan, '105',
       '107', '104', '111', '112', '103', '100', '114', '110', 'OOS',
       '113', '117', '115', '116', '119', '147', '137', '149', '139',
       '124', '106', '108', '101', '118'], dtype=object)

In [27]:
zip_code_regex = r"\b(\d{3}|OOS)\b"

In [29]:
df_num.isnull().sum()

Operating Certificate Number            183
Facility Id                             183
Zip Code - 3 digits                     276
CCS Diagnosis Code                        0
CCS Procedure Code                        0
APR DRG Code                              0
APR MDC Code                              0
APR Severity of Illness Code              0
Attending Provider License Number       183
Operating Provider License Number     36704
Other Provider License Number        136517
Birth Weight                              0
dtype: int64

In [38]:
if not re.match(zip_code_regex, "OOST"):
    print("not ok")

not ok